:root {
	--main-color: rgba(255,255,255,1);
	--contrast-color: rgba(255,123,172,1); 
	--light-color: rgba(255,255,255,1);
	--dark-color: rgba(0,0,0,1);
	--debug-color: rgba(0,255,0,1);
}

.flex-container {
    display: flex;  
    flex-flow: column nowrap;
    align-items: stretch;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: var(--main-color);
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
}

body {
  	display: flex;
	background-color: var(--main-color);
	font-family: sans-serif;
	margin: 0;
	text-align: center;
	padding: 10px;
	overflow: hidden;
  	height: calc(100vh - 20px);
}

header {
	background-color: var(--main-color);
	order: 1;
}

#header-img {
	padding-top: 5px;
	max-width: 100%;
	height: auto;
}

.nav {
	background-color: var(--light-color);
	padding: 0px;
	height: 30px;
	order: 2;
}

#music-nav {
	padding-right: 10%;
	max-width: 100%;
	height: auto;
}

#art-nav {
	padding-left: 10%;
	max-width: 100%;
	height: auto;
}

.content {
	background-color: var(--light-color);
	order: 3;
  	flex: 10;
}
  
article #render {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#footer {
	background-color: rgba(0,0,0,1);
	order: 4;
	-webkit-flex: 1 0 auto;
	min-height: 0;
	max-height: 50px;
}

#footer p {
	color: white;
	margin: 0;
	padding: 0;
}